.btn-success {
  margin: 1.875rem 0;
}
body {
  scroll-behavior: smooth;
}
.verProducts {
  margin-bottom: 30px;
}
#formProducts {
  width: 50%;
  margin: auto;
}
td button {
  margin: 0 0.625rem;
}
.avatar {
  width: 120px;
  border-radius: 50%;
  height: 120px;
  border-width: 4px;
  border-color: rgb(53, 45, 172);
}
